 /* Banner */
#banner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.2) url("assets/data.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: overlay;
  color: white;
}

#banner h1 {
  font-size: 75px;
  font-weight: bold
}

#banner h3 {
  background: black;
  border-radius: 8px;
  padding: 0 24px;
  font-size: 24px;
  margin-top: 10px;
}

.qna {
  align: center;
  font-family: 'Aclonica';
  letter-spacing: 0.10em;
  font-style: normal;
  font-size: 50px;
}
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kavivanar&family=Poly&display=swap');
.card-title { font-family: 'Mukta', sans-serif; }
.card-text { font-family: 'Poly', serif; }
.modal-title { font-family: 'Mukta', sans-serif; }
.heading { font-family: 'Mukta', sans-serif; font-style: bold; }
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
.qouth { font-family: 'Caveat', sans-serif; }
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
.details { font-family: 'Gothic A1', sans-serif; }

.dvimage {
  width: 100%;
  height: auto;
  max-width: 600px;
}
