 /* Banner */
#banner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.2) url("assets/data.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: overlay;
  color: white;
}

#banner h1 {
  font-size: 75px;
  font-weight: bold
}

#banner h3 {
  background: black;
  border-radius: 8px;
  padding: 0 24px;
  font-size: 24px;
  margin-top: 10px;
}

.qna {
  align: center;
  font-family: 'Aclonica';
  letter-spacing: 0.10em;
  font-style: normal;
  font-size: 50px;
}

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Montserrat&display=swap');
*.paragraph {
  font-family: 'Hind Siliguri', sans-serif;
}

